@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham';
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.918);
  width: 20px;
}
 
body::-webkit-scrollbar-thumb {
  background: #d90913c2; 
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #d90913e8; 
}


@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  src: url('../../public/fonts/GothamMedium.ttf') format('truetype');
}

.hidden {
  display: none;
}

.black {
  background: #141414e3;
}

.shadow {
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.56);
  box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.56);
}